/* navbar */
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
:root {
  scroll-behavior: smooth;
}


.flex-container-nav{
  display: flex;
}
.teaching-link{
  margin-left: 50%;
  border-radius: 10%;
  border: 1px solid gray;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: 600;
  background-color: white;
  
}
.FreeMentoring-link{
  margin-left: 2%;
  border-radius: 10%;
  border: 1px solid gray;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: 600;
  color: whitesmoke;
  background-color: grey;
}



/* first-div */

.flex-container{
  display: flex;
  margin: 3%;
  justify-content: space-evenly;
}
.right{
  margin-left: 5%;
}
.left{
  margin-left: 0%;
  margin-right: 2%;
}
.left1 h1{
  margin-top: 25%;
}
.images{
  width: 100%;
  height: 100%;
}


/* section-2 */
.flex-container2{
  display: flex;
  margin: 3%;
  border: 1px solid beige;
  border-radius: 2%;
}

.right2{
  padding-right: 2%;
}
.right2 p{
  text-align: justify;
}
.aboutme{
  border-radius: 5%;
}

/* Section3 */

.flex-container3{
  display: flex;
  margin: 3%;
  border: 1px solid beige;
  border-radius: 2%;
}

.right3{
  margin-top: 2%;
  margin-left: 1%;
}
.left3{
  margin-top: 2%;
  margin-left: 1%;
}
.vision{
  text-align: center;
}
.left3 p{
        text-align: center;
        font-weight: 600;
        font-style: italic;
}
.mission{
  text-align: center;
}
.right3 p{
  text-align: center;
  font-weight: 600;
  font-style: italic;
}

 .whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #adbab2; /* WhatsApp color */
  color: #fff;
  border-radius: 50%;
  padding: 20px;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 0.3s;
}
.why{
  margin-top: 5%;
  max-width: 100%;
  margin-right: 5%;
}

.whatsapp-icon img {
  width: 30px; /* Adjust the size of the WhatsApp logo */
  height: auto;
}

/* Reponsiveness */

@media screen and (max-width: 425px) {
  .teaching-link{
   margin-left: 2%;
   margin-top: 2%;
  }
  .flex-container-nav{
    flex-direction: column;
  }
 }
 @media screen and (max-width: 800px) {
  .teaching-link{
   width: 45%;
  }
  .FreeMentoring-link{
   width: 45%;
  }
  .flex-container{
    flex-direction: column;
  }
  .left1 h1{
    margin-top: 0%;
  }
  .flex-container2{
    flex-direction: column;
  }
  .aboutme{
    width: 100%;
  }
  .flex-container3{
    flex-direction: column;
  }
 }